* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  color: #fff;
}
section {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
/* ================================Sectiion 1================================== */
.sec1 {
  background-image: url("./images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav > ul {
  display: flex;
}
